<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../iron-icon/iron-icon.html">
<link rel="import" href="../iron-icons/iron-icons.html">
<link rel="import" href="../paper-button/paper-button.html">

<dom-module id="fotosocial-register">
  <template>
    <style>
      :host {
        display: block;
      }

      .container {
        display: flex;
        flex-direction: column;
        background-color: #F2F2F2;
        padding: 20px;
        border: 1px solid;
      }

      .button-container {
        text-align: right;
      }
    </style>
    <div class="container">
      <paper-input label="Usuario" value="{{user::input}}">
        <iron-icon icon="account-circle" slot="suffix"></iron-icon>
      </paper-input>
      <paper-input label="Contraseña" type="password" value="{{password1::input}}">
        <iron-icon icon="lock" slot="suffix"></iron-icon>
      </paper-input>
      <paper-input label="Contraseña" type="password" value="{{password2::input}}">
        <iron-icon icon="lock" slot="suffix"></iron-icon>
      </paper-input>
      </paper-input>
      <div class="button-container">
        <paper-button raised disabled$="[[registerDisabled]]" on-click="_clickRegister">
          Registrar
        </paper-button>
      </div>
    </div>
  </template>
  <script>
    /**
     * `fotosocial-register`
     * Polymer register element
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class FotosocialRegister extends Polymer.Element {
      static get is() { return 'fotosocial-register'; }
      static get properties() {
        return {
          registerDisabled: {
            type: Boolean,
            value: true,
            computed: '_validate(user,password1, password2)'
          },
          user: {
            type: String,
            value: ''
          },
          password1: {
            type: String,
            value: ''
          },
          password2: {
            type: String,
            value: ''
          }
        };
      }

      _validate(user, password1, password2) {
        return !(user !== '' && password1 !== '' && password2 !== '' && password1 === password2);
      }

      _clickRegister(e) {
        this.dispatchEvent(new CustomEvent('click-register', {
          bubbles: true,
          composed: true,
          detail: {
            user: this.user,
            password: this.password1
          }
        }));
      }

    }

    window.customElements.define(FotosocialRegister.is, FotosocialRegister);
  </script>
</dom-module>